.join{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.join .join-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
.join .join-left .join-left-mid{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.join .join-left .join-left-mid .join-left-mid-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.join .join-left .join-left-mid .join-left-mid-item .join-left-mid-item-right{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.join .join-left .join-left-bottom{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.join .join-left .join-left-bottom .join-left-bottom-item{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.join .join-left .join-left-bottom .join-left-bottom-item .join-left-bottom-item-right:hover{
    cursor: pointer;
    font-style: italic;
    font-weight: 400;
    transition: 0.3s ease;
}
.join .join-right{
    background: rgba(128,128,128,0.3);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(18,18,18,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
}
.join .join-right form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
    
}
.join .join-right form .join-form-class{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.join .join-right form .join-form-class input{
    padding: 5px 10px;
    outline: 0;
    border: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 5px;
}
.join .join-right form .join-form-class textarea{
    padding: 5px 10px;
    outline: 0;
    border: 0;
    background: #FFFFFF;
    width: 100%;
    border-radius: 5px;
}
.join .join-right form .join-form-btn button{
    padding: 5px 10px;
    background:#6E0983;
    outline: 0;
    border: 0;
    color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.join .join-right form .join-form-btn button:hover{
    cursor: pointer;
    transform: translateY(5px);
    transition: 0.3s ease;
}

@media (max-width:500px) {
.join{
    display: flex;
    flex-direction: column-reverse;
}
.join .join-left{
    gap: 24px;
}
.join .join-left .join-left-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
}
.join .join-left .join-left-top p{
    text-align: left;
}
}

@media (max-width:800px) and (min-width:501px) {
.join{
    display: flex;
    flex-direction: column-reverse;
}
.join .join-left{
    gap: 24px;
}
.join .join-left .join-left-top{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}
.join .join-left .join-left-top p{
    text-align: left;
}
}