.head{
    margin-bottom: 5rem;
    background-color: rgb(89, 15, 104);
}

.Gheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-image: 
    linear-gradient(to right bottom, rgba(100, 41, 105, 0.5),rgba(173, 53, 184, 0.4)),url('./gallery.webp');
    background-size: cover;
    background-position: 50% 35%;
    position: relative;
    margin-top: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.inText{
    padding: 50px;
    text-align: left;
    letter-spacing: 1rem;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.Gheader a{
    width: fit-content;
    padding: 0;
    margin-left: 4rem;

}

.Gheader >a>button{
    height: 3rem;
    width: 10rem;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid purple;
    color: purple; 
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}