.navvv{
    background-color: rgb(89, 15, 104);
    z-index: 1;
}
.other{
    margin-top: 5rem;
    overflow: hidden;
}

.Aheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 80vh;
    background-image: 
    linear-gradient(to right bottom, rgba(100, 41, 105, 0.5),rgba(173, 53, 184, 0.5)),url('./dapo.CR2.jpg');
    background-size: cover;
    background-position: 50% 35%;
    position: relative;
    margin-top: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 20% 100%, 0 80%);
}

.inText{
    padding: 50px;
    text-align: left;
    letter-spacing: 1rem;
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.Aheader a{
    width: fit-content;
    padding: 0;
    margin-left: 4rem;

}

.Aheader >a>button{
    height: 3rem;
    width: 10rem;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid purple;
    color: purple; 
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.history{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    overflow: hidden;
    
    

}
.hiscontainer{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px;
    padding: 10%;
    gap: 3rem;
    height: 100%;
    width: 85%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;


}
.content>:nth-child(1){
    position: relative;
    flex: 1;
    width: 40%;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 80;
    color: rgb(65, 58, 58, 0.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;

}
.content>:nth-child(2){
    flex: 1;
    width: 20rem;
    position: relative;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.we{
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    overflow: hidden;

  background-image: radial-gradient(rgb(170, 170, 170) 10%, transparent 10%), radial-gradient(rgb(170, 170, 170) 10%, transparent 10%);
  background-color: #fff;
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
}
.we>:nth-child(1){
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5%;
}

.wetext>:nth-child(1){
    background: none;
}

.we .wetext>:nth-child(2){
    line-height: 2rem;
    color: purple;
}

.mv{
    gap: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(234, 235, 231);
    overflow: hidden;
}

.mv .mission{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

}
.mv .mission>:nth-child(1){
    color: purple;
    flex: 1;
}
.mv .mission>:nth-child(2){
    color: white;
    background: linear-gradient(to right, rgba(13, 9, 14, 0.7),rgba(18, 9, 19, 0.7)),url('./fun2.jpg');
    background-size: cover;
    background-position: 50% 40%;
    text-align: left;
    padding: 6rem;
    min-width: 12rem;
    letter-spacing: 8px;
    flex: 3;
    clip-path: polygon(50% 13%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    
}

.mv .vision{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    

}
.mv .vision>:nth-child(2){
    color: purple;
    flex: 1;
}
.mv .vision>:nth-child(1){
    color: white;
    background: linear-gradient(to right bottom, rgba(13, 9, 14, 0.7),rgba(18, 9, 19, 0.7)),url('./fun3.jpg');
    background-size: cover;
    background-position: 20% 30%;
    text-align: left;
    padding: 6rem;
    min-width: 12rem;
    letter-spacing: 10px;
    flex: 3;
    clip-path: polygon(50% 0, 100% 34%, 100% 100%, 50% 84%, 0 100%, 0 34%);
    
}

.leadership{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.people{
    display: grid;
    gap: 4rem;
    margin: 0 auto; 
}
.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 13rem;
    position: relative;
    gap: 4px;
}
.person>:nth-child(1){
    border-bottom: 4px solid purple;
    box-shadow: 1px 1px 10px;
    position: relative;
    width: 100%;
}

@media (min-width: 1300px) {
    .values { 
        grid-template-columns: repeat(3, 1fr); 
    }
    .people{
        grid-template-columns: repeat(4, 1fr);
    }
  }

@media (min-width: 900px) and (max-width: 1300px){
    .values { 
        grid-template-columns: repeat(3, 1fr); 
    }
    .people{
        grid-template-columns: repeat(3, 1fr);
    }
  }



@media (min-width: 600px) and (max-width: 900px) {
    .values { 
        grid-template-columns: repeat(2, 1fr); 
    }
    .people{
        grid-template-columns: repeat(2, 1fr);
    }
    .content{
        flex-direction: column;
    }
    .content>:nth-child(1){
        width: 100%;
    }
    .content>:nth-child(2){
        width: 100%;
    }
  }

@media screen and (max-width: 599px){
    .values { 
        grid-template-columns: repeat(1, 1fr); 
    }
    .people{
        grid-template-columns: repeat(1, 1fr);
    }
    .mission{
        flex-direction: column;
    }
    .vision{
        display: flex;
        flex-direction: column;
    }
    .content{
        flex-direction: column;
    }
    .content>:nth-child(1){
        width: 100%;
    }
    .content>:nth-child(2){
        width: 100%;
    }
    
  }